[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "isatabr"]
	path = isatabr
	url = https://github.com/biometris/isatabr
[submodule "statgenGWAS"]
	path = statgenGWAS
	url = https://github.com/biometris/statgengwas
[submodule "statgenGxE"]
	path = statgenGxE
	url = https://github.com/biometris/statgengxe
[submodule "statgenHTP"]
	path = statgenHTP
	url = https://github.com/biometris/statgenhtp
[submodule "statgenIBD"]
	path = statgenIBD
	url = https://github.com/biometris/statgenibd
[submodule "statgenSTA"]
	path = statgenSTA
	url = https://github.com/biometris/statgensta
